@import "../../scss/variables.scss";
.root {
  padding: 30px;
  li {
    display: inline-block;
  }
  a {
    text-align: center;
    width: 50px;
    line-height: 38px;
    height: 40px;
    border: 1px solid $olive;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    color: $olive;
    &:hover {
      background-color: $olive;
      color: #fff;
    }
  }
}
:global {
  .selected {
    a {
      background-color: $olive;
      color: #fff;
    }
  }
}
